*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #E2DBDA;
    margin: 20px;
    padding: 10px;
    
}

header{

    padding: 50px;
    background-color: #6c844e;
    text-align: center;
    color: white;
    margin: 2px 0;

}

nav{

    display: flex;
    flex-direction: row;
    background-color: #7e815b;
    margin: 2px 0;
    
}

nav a{

    color: white;
    padding: 14px 20px;
    text-decoration: none;

}

.row{

    display: flex;
    flex-wrap: wrap;

}

aside{

    background-color: #b5bf9a;
    padding: 20px;
    flex: 30px;
    margin: 0 2px 2px 2px;

}

section{

    background-color: #b5bf9a;
    flex: 50%;
    padding: 20px;
    margin: 0 2px 2px 2px;

}

footer{

    padding: 20px;
    text-align: center;
    background-color: #b5bf9a;

}

@media screen and (max-width: 700px ){
    
    nav, .row{

        flex-direction: column;

    }

    body {background-color: black;}

}

ul{

    text-align: center;
    padding: 10px;

}

li{

    display: inline;
    padding: 10px 30px;
    margin: 2.5em;

}

li a:hover{

    color: crimson;
    text-decoration: none;
    list-style: none;

}

.img{

    width: 70%;
    border-radius: 5px;
    justify-items: center;

}

#contenedor{

    width: 70%;
    max-width: 0 auto;
    background-color: #dee0b7;
    border-radius: 5px;

}

.texto{

    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;
}

.encabezado-aside{

    text-align: center;
    background-color: rgb(89,161,81);
    color: white;
    margin: 10px;
    padding: 15px;

}