*{
    padding: 0%;
    border: 0%;
}

body{
    background-color:#d7c5b7;
    color: white;
}

#contenedor{
    
    width: 800px;
    height: 800px;
    background-color: #bccedc;
    max-width: 0 auto;
    border-radius: 2px;

}