*{

    padding: 0%;
    border: 0%;
    box-sizing: border-box;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #76a6e4;;
    margin: 20px;
    padding: 10px;
    color:white;

}

header{

    padding: 20px;
    background-color: #e9ba7c;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

nav{

    display: flex;
    flex-direction: row;
    background-color: #ffdd9d;
    padding: 2px;

}

nav a{

    color: white;
    padding: 14px 20px;
    text-decoration: none;

}

.row{

    display: flex;
    flex-wrap: wrap;

}

aside{

    background-color: #9fceff;
    padding: 20px;
    flex: 30px;

}

section{

    background-color: #9fceff;
    flex: 50%;
    padding: 20px;

}

footer{

    padding: 20px;
    text-align: center;
    background-color: #e9ba7c;
    font-family: 'Times New Roman', Times, serif;

}

@media screen and (max-width: 700px ){
    
    nav, .row{

        flex-direction: column;

    }

    body {background-color: black;}

}

.img-per{
    
    width: 20%;
    justify-content: center;
    border: 3px solid;
    border-color: #ffdd9d;
}

.img-aside{

    width: 50%;
    justify-content: center;

}

.img-jura{
    width: 70%;
    justify-content: center;

}


li{

    display: inline;
    margin: 1em;
    font-family: 'Times New Roman', Times, serif;

}

.li_personajes{
    
    display: list-item;
}

li a:hover{

    color: #9fceff;
    text-decoration: none;
    list-style: none;

}

.texto{

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    padding: 1em;

}

#contenedor{
    
    width: 70%;
    background-color: #85b5f4;
    max-width: 0 auto;

}

.texto-img{

    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: small;
    padding: 1em;

}

video{
    width: 75%;
}