*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1ecea;
    margin: 20px;
    padding: 10px;
    color: white;

}

header{

    padding: 10px;
    background-color: #3a251c;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px 0;

}

nav{

    display: flex;
    flex-direction: row;
    background-color: #b46424;
    padding: 2px;
    margin: 2px 0;

}

nav a{

    color: white;
    padding: 14px 20px;
    text-decoration: none;

}

.row{

    display: flex;
    flex-wrap: wrap;

}

aside{

    background-color: #b58c7c;
    padding: 20px;
    flex: 30px;
    margin: 0 0 2px 2px;

}

section{

    background-color: #362f2f;
    flex: 50%;
    padding: 20px;
    margin: 0 2px 2px 0;

}

footer{

    padding: 20px;
    text-align: center;
    background-color: #3a251c;
    font-family: 'Times New Roman', Times, serif;

}

@media screen and (max-width: 700px ){
    
    nav, .row{

        flex-direction: column;

    }

    body {background-color: black;}

}

ul{

    text-align: center;
    padding: 10px;

}

li{

    display: inline;
    padding: 10px 20px;
    margin: 2em;

}

li a:hover{

    color: white;
    text-decoration: none;
    list-style: none;
    
}

#contenedor{

    width: 70%;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;

}

.texto{

    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #fff;
    
}

img{

    width: 25%;
    border-radius: 2px;
    margin: 0 0 1% 1%;
    justify-items: center;
    border-color: #fff;
    border: 3px solid;
}
