*{

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

body{

    text-align: center;

}

.contenedor{

    margin: auto;
    background-color: lemonchiffon;
    width: 900px;
    height: 600px;
    border: 5px solid black;

}

h1{

    padding-top: 20px;
}

.nombre{

    text-align: justify;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;

}

.nombre input{

    width: 420px;
    height: 25px;
    margin-left: 20px;

}

.fechaNacimiento{

    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;

}

.fechaNacimiento input{

    width: 150px;
    margin-left: 20px;
    height: 25px;

}

.LugarNacimiento{

    font-weight: bold;
    text-align: right;
    margin-top: -130px;
    padding-right: 300px;
    margin-bottom: 100px;

}

.LugarNacimiento select{

    width: 155px;
    margin-left: 20px;
    height: 25px;

}

.poblacion{

    font-weight: bold;
    text-align: left;
    float: right;
    margin-top: -135px;
    margin-right: 10px;

}

.poblacion input{

    height: 20px;

}

.idiomas{

    text-align: left;
    float: right;
    margin-top: -90px;
    margin-right: 10px;
    font-weight: bold;

}

.idiomas li{

    width: 500px;
    height: 30px;
    background-color: #ebc18b;
    list-style: none;
    display: inline;
    text-align: center;

}

.idiomas input{

    margin-top: 10px;
    margin-left: 15px;

}

.sexo{

    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    width: 240px;
    font-weight: bold;

}

.sexo li{

    width: 265px;
    height: 60px;
    background-color: #ebc18b;
    list-style: none;

}

.sexo input{

    margin-top: 20px;
    margin-left: 20px;

}

.correo{

    margin-top: 20px;
    width: 210px;
    float: left;
    margin-left: 20px;
    height: 25px;
    color: black;
    font-weight: bold;
    text-align: left;

}

.egresoPrimaria{

    float: left;
    text-align: left;
    padding-top: 20px;
    padding-right: 400px;
    padding-left: 20px;
    font-weight: bold;

}

.egresoPrimaria input{

    margin-left: 40px;

}

.habitos{

    margin-right: 40px;
    text-align: left;
    float: right;
    margin-top: -90px;
    font-weight: bold;

}

.habitos textarea{

    width: 400px;
    height: 100px;

}

.ingresos{

    text-align: center;
    float: left;
    margin-top: 60px;
    font-weight: bold;

}

.ingresos input{

    margin-top: 20px;
    width: 400px;

}

.horario {

    font-weight: bold;
    margin-right: 100px;
    float: right;
    margin-top: 100px;

}

.horario input{

    margin-top: 10px;
    max-width: 20px;

}

#botones{

    margin-top: 20px;
    margin-right: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;

}

#datosList{

    font-size: 8px;
    word-spacing: 2.2em;

}

.separador{

    width: 100px;
    height: 50px;
}